body {
    background: url(#background);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}